/* InitChangePassword.module.css */
.container {
    max-width: 400px; /* Đặt chiều rộng tối đa cho container */
    margin: 0 auto; /* Canh giữa container */
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo cột */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s; /* Thêm hiệu ứng chuyển đổi */
}

.input:focus {
    border-color: #ff385c; /* Đổi màu viền khi focus */
    box-shadow: 0 0 5px rgba(255, 56, 92, 0.5); /* Tạo hiệu ứng bóng mờ khi focus */
    outline: none; /* Bỏ viền mặc định khi focus */
}

.inputError {
    border-color: #d9534f; /* Màu viền khi có lỗi */
}

.submitButton {
    padding: 10px;
    background-color: #ff385c; /* Màu đỏ tương tự như Airbnb */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Thêm hiệu ứng chuyển đổi */
}

.submitButton:hover {
    background-color: #e63946; /* Màu tối hơn khi hover */
}

.error {
    color: #d9534f;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 8px;
    line-height: 1.4;
    word-wrap: break-word;
}

.message {
    color: #28a745; /* Màu xanh cho thông báo thành công */
    font-size: 14px;
    margin-top: 20px; /* Khoảng cách phía trên */
    padding: 10px; /* Padding xung quanh */
    border: 1px solid #28a745; /* Viền màu xanh */
    border-radius: 4px; /* Bo tròn các góc */
    background-color: rgba(40, 167, 69, 0.1); /* Màu nền nhẹ cho thông báo */
    text-align: center; /* Canh giữa văn bản */
}

/* Responsive */
@media (max-width: 500px) {
    .container {
        width: 90%; /* Đặt chiều rộng cho container khi màn hình nhỏ */
    }

    .input,
    .submitButton {
        font-size: 14px; /* Giảm kích thước font cho các phần tử khi màn hình nhỏ */
    }

    .message {
        font-size: 12px; /* Giảm kích thước font cho thông báo khi màn hình nhỏ */
    }
}

.timer {
    color: #ff385c; /* Màu đỏ cho thông báo thời gian */
    font-size: 14px; /* Kích thước font */
    text-align: center; /* Canh giữa văn bản */
    margin-top: 10px; /* Khoảng cách phía trên */
}
.buttonContainer {
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    margin-top: -5px; /* Khoảng cách phía trên */
}

.typography {
    margin-top: 16px; /* Chỉnh sửa thuộc tính này bằng camelCase */
    text-align: center; /* Thay thế thuộc tính align */
    color: #6c757d; /* Màu textSecondary */
    font-size: 1.25rem; /* Tương ứng với variant h6 */
}
